<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SkillCoacher</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/quiz.css" />
    <link rel="stylesheet" href="~/css/SearchBarSuggestions.css" />
    <link rel="stylesheet" href="~/lib/tagsinput.css" />
    <link rel="stylesheet" href="~/lib/ratingstars.css" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/dragndrop.css" />
    <script src="~/lib/dragndrop.css"></script>
    @*<script src="~/js/SearchBarSuggestions.js"></script>*@
    <script src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
    <script src="~/lib/tagsinput.js"></script>
    <script src="~/js/quiz.js"></script>
    <!-- Custom styles for this template -->
    <link href="~/lib/dashboard.css" rel="stylesheet">
    <link href="~/lib/blog.css" rel="stylesheet">
</head>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="z-index: 1;">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" asp-area="" asp-page="/Index">SkillCoacher</a>

    @*<input class="form-control form-control-dark w-50" id="searchInput" type="text" placeholder="Поиск по SkillCoacher" aria-label="Search">*@

    <div class="wrapper">
        <div class="search-input">
            <a href="" target="_blank" hidden></a>
            <input id="searchInput" class="form-control form-control-dark" type="text" placeholder="Поиск по SkillCoacher" aria-label="Search">
            <div id="searchBarSuggestions" class="autocom-box"></div>
        </div>
    </div>


    <ul class="navbar-nav px-3 offset-lg-3">
        <li class="dropdown show">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown">
                Профиль
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" asp-page="Index" asp-page-handler="LogOut">Выйти</a>
            </div>
        </li>
    </ul>
</nav>
<div class="container-fluid">
    <div class="row flex-xl-nowrap">
        <div class="col-md-3 col-xl-2 bd-sidebar shadow" style="padding-bottom: 100%;">
            <div class="sticky-top">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="text-dark pl-xl-3" href="/Index">Главная</a>
                    </li>
                    <li class="nav-item">
                        <a class="text-dark pl-xl-3" href="/OwnedCourses">Мои курсы</a>
                    </li>
                    <li class="nav-item">
                        <a class="text-dark pl-xl-3" href="/Favorites">Подписки на курсы</a>
                    </li>
                    <hr>
                    <li class="list-group" id="list-tab" role="tablist">
                        <a class="list-group-item text-secondary" href="/SubmitCourse" role="tab">Опубликовать курс</a>
                    </li>
                </ul>
            </div>
        </div>
        <main role="main" class="col-md-10 py-md-3 bd-content">
            <div class="pl-xl-1">
                @RenderBody()
            </div>
        </main>
    </div>
</div>

<body>
    <script>
        $(document).ready(() => {
            $("#searchInput").keyup((event) => {
                if (event.keyCode == 13) {
                    const urlParams = new URLSearchParams(window.location.search);
                    urlParams.set('query', $("#searchInput").val());
                    console.log("Entered method");
                    $.ajax({
                        type: "POST",
                        url: 'Index?handler=UpdateQuery',
                        data: {
                            query: $("#searchInput").val()
                        },
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader("XSRF-TOKEN",
                                $('input:hidden[name="__RequestVerificationToken"]').val());
                        },
                        success() {
                            console.log($("#searchInput").val());
                            $("#courses").html('');
                            $("#courses").html(data);
                        },
                        dataType: "json"
                    }).done(function (data) {
                        console.log(data.result);
                    })
                    window.location.search = urlParams;
                }
            });
            $("#searchInput").on('input', (event) => {
                if ($("#searchInput").val().length < 3) {
                    $(".search-input").removeClass("active");
                    return;
                }
                const urlParams = new URLSearchParams(window.location.search);
                urlParams.set('query', $("#searchInput").val());
                $.ajax({
                    type: "POST",
                    url: 'Index?handler=ShowSuggestions',
                    data: {
                        query: $("#searchInput").val()
                    },
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("XSRF-TOKEN",
                            $('input:hidden[name="__RequestVerificationToken"]').val());
                    },
                    success(result) {
                        console.log("success");
                        if (result == "") {
                            $(".search-input").removeClass("active");
                        }
                        else
                            $(".search-input").addClass("active");
                        $("#searchBarSuggestions").html(result);
                        $("#searchBarSuggestions > li").click(function (e) {
                            console.log($(this).text());
                            $("#searchInput").val($(this).text());
                            console.log($(this).text());
                            const urlParams = new URLSearchParams(window.location.search);
                            urlParams.set('query', $("#searchInput").val());
                            window.location.search = urlParams;
                        });
                    },
                    dataType: "html"
                })
            });
        });
    </script>
</body>
</html>