<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SkillCoacher</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/tagsinput.css" />
    <link rel="stylesheet" href="~/lib/dragndrop.css" />
    <script src="~/lib/dragndrop.css"></script>
   
    <script src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
    <script src="~/lib/tagsinput.js"></script>
    <!-- Custom styles for this template -->
    <link href="~/lib/dashboard.css" rel="stylesheet">
    <link href="~/lib/blog.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" asp-area="" asp-page="/Index">SkillCoacher</a>
        <input class="form-control form-control-dark w-50" type="text" placeholder="Поиск по SkillCoacher" aria-label="Search">
        <ul class="navbar-nav px-3">
            <li class="dropdown show">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Профиль
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="/LogIn">Войти</a>
                    <a class="dropdown-item" asp-area="" asp-page="/SignUp">Регистрация</a>
                </div>
            </li>
        </ul>
    </nav>
            <div class="container-fluid">
                <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" href="/Submit">
                                <span data-feather="home"></span>
                                Опубликовать курс <span class="sr-only">(current)</span>
                            </a>
                        </li>
                    </ul>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" href="/SubmitCourse">
                                <span data-feather="home"></span>
                                Опубликовать курс <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/Index">
                                <span data-feather="home"></span>
                                Главная <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Favorites">
                                <span data-feather="file"></span>
                                Избранные курсы
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Library">
                                <span data-feather="shopping-cart"></span>
                                Подписки на курсы
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="\History">
                                <span data-feather="users"></span>
                                История
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-page-handler="LogOut">
                                <span data-feather="users"></span>
                                Выйти
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4 pt-xl-5">
                <div class="pl-xl-1">
                    @RenderBody()
                </div>
            </main>
        </div>
        </div>
</body>
</html>

