
@model int
@{

    if (Model == 1)
    {
        <button onclick="ChangeGrade(0);" class="btn btn-success">нравится</button>
        <button onclick="ChangeGrade(-1)" class="btn btn-outline-danger">не нравится</button>
    }
    else if (Model == -1)
    {
        <button onclick="ChangeGrade(1);" class="btn btn-outline-success">нравится</button>
        <button onclick="ChangeGrade(0)" class="btn btn-danger">не нравится</button>
    }
    else
    {
        <button onclick="ChangeGrade(1);" class="btn btn-outline-success">нравится</button>
        <button onclick="ChangeGrade(-1)" class="btn btn-outline-danger">не нравится</button>
    }
}
