@page "{id}"
@model ChapterPageModel
@{
    ViewData["Title"] = "Chapter page";
}

<div class="col-md-8 blog-main">
    <div class="blog-post">
        <h2 class="blog-post-title">@Model.SelectedChapter.Name</h2>
        <hr>
        <div>@Html.Raw(Model.SelectedChapter.HtmlContent)</div>
        <hr>
        @if (Model.LeftChapterId >= 0)
        {
            <a asp-page="/ChapterPage" asp-route-Id="@Model.LeftChapterId">
            <button>Назад</button>
            </a>
        }
        @if (Model.RightChapterId >= 0)
        {
            <a asp-page="/ChapterPage" asp-route-Id="@Model.RightChapterId">
            <button>Далее</button>
            </a>
        }
    </div>
</div>


