@page
@model SkillCoacher.Pages.SubmitChapterModel
@{
}
<script src="https://cdn.ckeditor.com/ckeditor5/30.0.0/classic/ckeditor.js"></script>
<div class="col-md-8 blog-main">
    <form method="post">
        <h2 class="blog-post-title">Опубликовать курс</h2>
        <hr />
        <input asp-for="CurrentChapter.Id" type="hidden" />
        <h4>Название Раздела</h4>
        <input asp-for="CurrentChapter.Name" type="text" />
        <h4>Содержание Раздела</h4>
 
        <div id="editor">
            @Html.Raw(Model.CurrentChapter.HtmlContent)
        </div>
        <script>
            let editor;

            ClassicEditor
                .create(document.querySelector('#editor'))
                .then(newEditor => {
                    editor = newEditor;
                }).catch(error => {
                    console.error(error);
                });
        </script>
        <h4>Добавьте теги</h4>
        <input id="TagsInput" type="text" data-role="tagsinput" />
    </form>
</div>
<hr />
<div class="col-md-2 ml-md-auto">

    <button type="button" class="btn btn-primary btn-lg" onclick="ajaxTest();">Опубликовать </button>
</div>

<script type="text/javascript">
   
    function ajaxTest() {
        console.log("Entered method");
        $.ajax({
            type: "POST",
            url: 'SubmitChapter',

            data: {
                id: $("#CurrentChapter_Id").val(),
                name: $('#CurrentChapter_Name').val(),
                content: editor.getData()
                
            },
            dataType: "json",
            beforeSend: function (xhr) {
                xhr.setRequestHeader("XSRF-TOKEN",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
            }

        }).done(function (data) {
            console.log(data.result);
        })
    }
</script>
