@page
@model SkillCoacher.Pages.SubmitChapterModel
@{
}
<style>
    .ck-editor__editable {
        height: 252px;
    }
</style>
<script src="https://cdn.ckeditor.com/ckeditor5/30.0.0/classic/ckeditor.js"></script>
<div class="col-md-8 blog-main shadow">
    <form method="post">
        <h2 class="blog-post-title">Изменить раздел</h2>
        <hr />
        <input asp-for="CurrentChapter.Id" type="hidden" />
        <h4>Название Раздела</h4>
        <input class="form-control" asp-for="CurrentChapter.Name" type="text" />
        <h4 style="margin-top: 40px;">Содержание Раздела</h4>

        <div id="editor">
            @Html.Raw(Model.CurrentChapter.HtmlContent)
        </div>
        <script>
            let editor;
            ClassicEditor
                .create(document.querySelector('#editor'))
                .then(newEditor => {
                    editor = newEditor;
                }).catch(error => {
                    console.error(error);
                });
        </script>
    </form>
    <div class="col-md-3 offset-md-9 pt-lg-4 pb-lg-4">
        <button type="button" class="btn btn-success" onclick="ajaxTest();">Сохранить изменения</button>
    </div>
</div>

<script type="text/javascript">

    function ajaxTest() {
        console.log("Entered method");
        $.ajax({
            type: "POST",
            url: 'SubmitChapter',

            data: {
                id: $("#CurrentChapter_Id").val(),
                name: $('#CurrentChapter_Name').val(),
                content: editor.getData()

            },
            dataType: "json",
            beforeSend: function (xhr) {
                xhr.setRequestHeader("XSRF-TOKEN",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
            }

        }).done(function (data) {
            console.log(data.result);
        })
    }
</script>
